<div class="uk-background uk-background-muted" uk-height-viewport>
    <div class="uk-flex uk-flex-center uk-flex-middle uk-padding-small" uk-height-viewport>
        <div class="uk-margin">
            <div class="uk-text-center">
                <h2 class="uk-margin-remove-bottom">Lelangind</h3>
                <h4 class="uk-text-meta uk-margin-remove-top">Aplikasi lelang online.</h5>
            </div>
            <div class="uk-card uk-card-default uk-border-rounded uk-box-shadow-medium">
                <div class="uk-padding-small uk-padding-remove-bottom uk-text-center">
                    <h4>Login Petugas</h4>
                    <div class="uk-text-left">
                        <% if alert %>
                        <div class="uk-alert-danger" uk-alert>
                            <a class="uk-alert-close" uk-close></a>
                            <p><%= alert %></p>
                        </div>
                        <% end %>
                        <%= form_tag controller: :auth, action: :create_p_auth do %>
                            <div class="uk-margin">
                                <%= label_tag 'Username' %>
                                <%= text_field_tag :username, '', class: 'uk-input', placeholder: 'Junandi33', autocomplete: 'off' %>
                            </div>
                            <div class="uk-margin">
                                <%= label_tag 'Password' %>
                                <%= password_field_tag :password, '', class: 'uk-input', placeholder: '••••••' %>
                            </div>
                            <div class="uk-margin">
                                <%= submit_tag 'Masuk', class: 'uk-button uk-button-primary uk-width-1-1 uk-margin' %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>