<% if notice %>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
<% end %>
<% if alert %>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= alert %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
<% end %>
<div class="row">
    <div class="col-md-12">
        <div class="d-flex justify-content-end">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><%= link_to 'Home', petugas_index_path %></li>
                  <li class="breadcrumb-item"><%= link_to 'Barang Lelang', barang_lelang_p_path %></li>
                  <li class="breadcrumb-item active" aria-current="page"><%= @item.nama_barang %></li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title text-capitalize mb-0"><%= @item.nama_barang %></h4>
                <p class="text-muted mt-0">Detail barang <%= @item.nama_barang %></p>
                <hr>
            </div>
            <div class="card-body">
                <img src="<%= @item.img_barang %>" class="img-thumbnail" alt="img_barang_<%= @item.nama_barang %>">
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                  <div class="form-group">
                      <label>Tanggal dibuat</label>
                      <p><%= @item.tgl.strftime("%e %b %Y") %></p>
                  </div>
                  <div class="form-group">
                      <label>Harga Awal</label>
                      <p>Rp. <%= number_with_delimiter(@item.harga_awal) %></p>
                  </div>
                  <div class="form-group">
                      <label>Deskripsi barang</label>
                      <p><%= @item.deskripsi_barang %></p>
                  </div>
                  <hr>
                  <div class="form-group">
                    <% lelang = Lelang.find_by(barang_id: @item.id) %>
                    <% if lelang.blank? %>
                      <label class="mb-0">Status Lelang</label>
                      <p class="text-danger mt-0">Belom dibuka</p>
                      <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#open-lelang">Buka Lelang Sekarang!</button>
                    <% else %>
                      <% if lelang.status == "dibuka" %>
                        <label class="mb-0">Status Lelang</label>
                        <p class="mt-0 text-capitalize text-success"><%= lelang.status %></p>
                        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#close-lelang">Tutup Lelang</button>
                      <% elsif lelang.status == "ditutup" %>
                        <label class="mb-0">Status Lelang</label>
                        <p class="mt-0 text-capitalize text-danger"><%= lelang.status %></p>
                        <label class="mb-0">Pemenang Lelang</label>
                        <% find_m = Masyarakat.find(lelang.masyarakat_id) %>
                        <p class="text-capitalize text-primary"><%= link_to find_m.nama_lengkap, '#', class: 'text-dark mt-0' %></p>
                      <% else %>
                        
                      <% end %>
                    <% end %>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <% if lelang.blank? %>
          <!-- Modal Open Lelang -->
          <div class="modal fade" id="open-lelang" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Buka lelang <span class="text-capitalize text-primary"><%= @item.nama_barang %></span>?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Dengan membuka lelang, maka masyarakat dapat melakukan penawaran barang maksimal 1 akun untuk 1 penawaran. dan pilih tutup lelang jika harga penawaran mencapai harga yang ditentukan.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                  <%= link_to 'Buka Lelang Sekarang!', buka_lelang_path, class: 'btn btn-primary', method: :post %>
                </div>
              </div>
            </div>
          </div>
        <% else %>
          <% if lelang.status == "dibuka" %>
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title text-capitalize mb-0">Penawaran <%= @item.nama_barang %></h4>
                    <p class="text-muted mt-0">Riwayat lelang masyarakat</p>
                    <hr>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <% history = Barang.find(params[:id]) %>
                      <table class="table table-sm">
                        <thead>
                            <tr class="text-primary">
                              <th>No</th>
                              <th>Nama</th>
                              <th>Penawaran</th>
                            </tr>
                        </thead>
                        <tbody>
                          <% history.histories.order(penawaran_harga: :desc).each.with_index do |h, index| %>
                            <tr>
                              <td><%= index+1 %></td>
                              <td class="text-capitalize"><%= h.masyarakat.nama_lengkap %></td>
                              <td class="text-danger">Rp. <%= number_with_delimiter(h.penawaran_harga) %></td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal Open Lelang -->
            <div class="modal fade" id="open-lelang" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Buka lelang <span class="text-capitalize text-primary"><%= @item.nama_barang %></span>?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>Dengan membuka lelang, maka masyarakat dapat melakukan penawaran barang maksimal 1 akun untuk 1 penawaran. dan pilih tutup lelang jika harga penawaran mencapai harga yang ditentukan.</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                    <%= link_to 'Buka Lelang Sekarang!', buka_lelang_path, class: 'btn btn-primary', method: :post %>
                  </div>
                </div>
              </div>
            </div>

            <% if @item.lelang.histories.blank? %>
              <!-- Modal Close Lelang -->
              <div class="modal fade" id="close-lelang" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Tidak dapat menutup lelang <span class="text-capitalize text-primary"><%= @item.nama_barang %></span></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Penawaran harga masih kosong, tidak diizinkan menutup lelang sebelum ada penawaran dari masyarakat!</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Ya! paham</button>
                    </div>
                  </div>
                </div>
              </div>
            <% else %>
              <!-- Modal Close Lelang -->
              <div class="modal fade" id="close-lelang" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Tutup lelang <span class="text-capitalize text-primary"><%= @item.nama_barang %></span>?</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Harga tertinggi dipegang oleh <span class="text-capitalize text-danger"><%= @item.lelang.histories.max.masyarakat.nama_lengkap %></span> dengan penawaran <span class="text-danger">Rp. <%= number_with_delimiter(@item.lelang.histories.max.penawaran_harga) %>.</span></p>
                      <p>Ingin menutup lelang?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                      <%= link_to 'Ya! Tutup lelang', tutup_lelang_path, class: 'btn btn-primary', method: :post %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% elsif lelang.status == "ditutup" %>
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title text-capitalize mb-0">Penawaran <%= @item.nama_barang %></h4>
                    <p class="text-muted mt-0">Riwayat lelang masyarakat</p>
                    <hr>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <% history = Barang.find(params[:id]) %>
                      <table class="table table-sm">
                        <thead>
                            <tr class="text-primary">
                              <th>No</th>
                              <th>Nama</th>
                              <th>Penawaran</th>
                            </tr>
                        </thead>
                        <tbody>
                          <% history.histories.order(penawaran_harga: :desc).each.with_index do |h, index| %>
                            <tr>
                              <td><%= index+1 %></td>
                              <td class="text-capitalize"><%= h.masyarakat.nama_lengkap %></td>
                              <td class="text-danger">Rp. <%= number_with_delimiter(h.penawaran_harga) %></td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% else %>

          <% end %>
        <% end %>
    </div>
</div>


