<% if notice %>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
<% end %>
<% if alert %>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= alert %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
<% end %>
<div class="row">
    <div class="col-md-12">
        <div class="d-flex justify-content-end">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><%= link_to 'Home', petugas_index_path %></li>
                  <li class="breadcrumb-item"><%= link_to 'Barang Lelang', barang_lelang_p_path %></li>
                  <li class="breadcrumb-item active" aria-current="page"><%= @item.nama_barang %></li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title text-capitalize mb-0"><%= @item.nama_barang %></h4>
                <p class="text-muted mt-0">Detail barang <%= @item.nama_barang %></p>
                <hr>
            </div>
            <div class="card-body">
                <img src="<%= @item.img_barang %>" class="img-thumbnail" alt="img_barang_<%= @item.nama_barang %>">
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                  <div class="form-group">
                      <label>Tanggal dibuat</label>
                      <p><%= @item.tgl.strftime("%e %b %Y") %></p>
                  </div>
                  <div class="form-group">
                      <label>Harga Awal</label>
                      <p>Rp. <%= number_with_delimiter(@item.harga_awal) %></p>
                  </div>
                  <div class="form-group">
                      <label>Deskripsi barang</label>
                      <p><%= @item.deskripsi_barang %></p>
                  </div>
                  <hr>
                  <div class="form-group">
                    <% lelang = Lelang.find_by(barang_id: @item.id) %>
                    <% if lelang.blank? %>
                      <label class="mb-0">Status Lelang</label>
                      <p class="text-danger mt-0">Belom dibuka</p>
                      <%= link_to 'Buka Lelang Sekarang!', '#', class: 'btn btn-primary btn-block' %> 
                    <% else %>
                      <% if lelang.status == "dibuka" %>
                        <label class="mb-0">Status Lelang</label>
                        <p class="mt-0 text-capitalize text-success"><%= lelang.status %></p>
                        <%= link_to 'Tutup Lelang', '#', class: 'btn btn-info btn-block' %>
                      <% elsif lelang.status == "ditutup" %>
                        <label class="mb-0">Status Lelang</label>
                        <p class="mt-0 text-capitalize text-success"><%= lelang.status %></p>
                        <label class="mb-0">Pemenang Lelang</label>
                        <p><%= link_to 'Hendi Supandi', '#', class: 'text-dark mt-0' %></p>
                      <% else %>
                        
                      <% end %>
                    <% end %>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <% if lelang.blank? %>

        <% else %>
          <% if lelang.status == "dibuka" %>
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title text-capitalize mb-0">Penawaran <%= @item.nama_barang %></h4>
                    <p class="text-muted mt-0">Riwayat lelang masyarakat</p>
                    <hr>
                  </div>
                </div>
              </div>
            </div>
          <% elsif lelang.status == "ditutup" %>
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title text-capitalize mb-0">Penawaran <%= @item.nama_barang %></h4>
                    <p class="text-muted mt-0">Riwayat lelang masyarakat</p>
                    <hr>
                  </div>
                </div>
              </div>
            </div>
          <% else %>

          <% end %>
        <% end %>
    </div>
</div>