<% if notice %>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
<% end %>
<% if alert %>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= alert %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
<% end %>
<div class="row">
    <div class="col-md-12">
        <div class="d-flex justify-content-end">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><%= link_to 'Home', petugas_index_path %></li>
                  <li class="breadcrumb-item"><%= link_to 'Pendataan Barang', data_barang_p_path %></li>
                  <li class="breadcrumb-item active" aria-current="page"><%= @item.nama_barang %></li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"><%= @item.nama_barang %></h4>
                <p class="text-muted">Detail barang <%= @item.nama_barang %></p>
                <hr>
            </div>
            <div class="card-body">
                <img src="<%= @item.img_barang %>" class="img-thumbnail" alt="img_barang_<%= @item.nama_barang %>">
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label>Tanggal dibuat</label>
                    <p><%= @item.tgl.strftime("%e %b %Y") %></p>
                </div>
                <div class="form-group">
                    <label>Harga Awal</label>
                    <p>Rp. <%= number_with_delimiter(@item.harga_awal) %></p>
                </div>
                <div class="form-group">
                    <label>Deskripsi barang</label>
                    <p><%= @item.deskripsi_barang %></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-center">
                    <%= link_to '#', class: 'btn btn-info' do %>
                        <i class="nc-icon nc-ruler-pencil"></i>
                        Edit Barang
                    <% end %>
                    <%= link_to '#', class: 'btn btn-danger' do %>
                        <i class="nc-icon nc-simple-remove"></i>
                        Hapus
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
