<% if notice %>
    <div class="uk-alert-success" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p><%= notice %></p>
    </div>
<% end %>
<% if alert %>
    <div class="uk-alert-danger" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p><%= alert %></p>
    </div>
<% end %>
<% lelang = Lelang.find(@item.id) %>
<div>
    <ul class="uk-breadcrumb">
        <li><%= link_to 'home', lelangind_index_path %></li>
        <li><span><%= lelang.barang.nama_barang %></span></li>
    </ul>
</div>
<div uk-grid>
    <div class="uk-width-2-5@m">
        <div class="uk-card uk-card-small uk-card-default">
            <div class="uk-card-body">
                <img src="<%= lelang.barang.img_barang %>" alt="<%= lelang.barang.nama_barang %>">
            </div>
        </div>
    </div>
    <div class="uk-width-expand@m">
        <div class="uk-card uk-card-small uk-card-default uk-margin">
            <div class="uk-card-header">
                <h4 class="uk-card-title uk-text-capitalize uk-margin-remove-bottom"><%= lelang.barang.nama_barang %></h4>
            </div>
            <div class="uk-card-body">
                <div class="uk-margin uk-margin-remove-bottom">
                    <label class="uk-text-meta uk-margin-remove-bottom">Tanggal dibuat</label>
                    <p class="uk-margin-remove-top uk-margin-remove-bottom"><%= lelang.tgl_lelang.strftime("%d-%m-%Y") %></p>
                </div>
                <hr class="uk-margin-remove-top uk-margin-remove-bottom">
                <div class="uk-margin uk-margin-remove-top uk-margin-remove-bottom">
                    <label class="uk-text-meta uk-margin-remove-bottom">Harga awal</label>
                    <p class="uk-margin-remove-top uk-text-primary uk-margin-remove-bottom">Rp. <%= number_with_delimiter(lelang.barang.harga_awal) %></p>
                </div>
                <hr class="uk-margin-remove-top uk-margin-remove-bottom">
                <div class="uk-margin uk-margin-remove-top uk-margin-remove-bottom">
                    <label class="uk-text-meta uk-margin-remove-bottom">Status</label>
                    <p class="uk-margin-remove-top uk-text-capitalize uk-text-success uk-margin-remove-bottom"><%= @item.status %></p>
                </div>
                <hr class="uk-margin-remove-top uk-margin-remove-bottom">
                <div class="uk-margin uk-margin-remove-top">
                    <label class="uk-text-meta uk-margin-remove-bottom">Deskrpisi</label>
                    <p class="uk-margin-remove-top uk-text-capitalize uk-margin-remove-bottom"><%= lelang.barang.deskripsi_barang %></p>
                </div>
            </div>
        </div>
        <div class="uk-card uk-card-small uk-card-default">
            <div class="uk-card-header">
                <h4 class="uk-card-title uk-text-capitalize uk-margin-remove-bottom">Daftar penawaran <span class="uk-text-primary"><%= lelang.barang.nama_barang %></span></h4>
            </div>
            <div class="uk-card-body">
                <% if lelang.histories.blank? %>
                    <div class="uk-text-center">
                        <h4>Ajukan penawaranmu sekarang!</h4>
                        <% if current_user_m %>
                            <button href="#modal-penawaran" class="uk-button uk-button-primary uk-button-small uk-border-rounded uk-box-shadowm-medium" uk-toggle>Ikut Lelang</button>
                        <% else %>
                            <h4 class="uk-text-meta">Ingin ikut lelang? silahkan <%= link_to 'Login', auth_new_path, class: 'uk-button uk-button-text' %></h4>
                        <% end %>
                    </div>
                <% else %>
                    <% if current_user_m %>
                        <% find_user_histories = lelang.histories.find_by(masyarakat_id: current_user_m.id) %>
                        <% if find_user_histories.nil? %>
                            <%= form_tag controller: :lelangind, action: :penawaran do %>
                                <p class="uk-margin-remove-bottom uk-margin-remove-top">Penawaran harus lebih tinggi dari <span class="uk-text-primary">Rp. <%= number_with_delimiter(lelang.histories.max.penawaran_harga) %></span></p>
                                <div class="uk-grid-small uk-margin-remove-top" uk-grid>
                                    <div class="uk-width-1-2@s">
                                        <%= number_field_tag :penawaran_harga, '', class: 'uk-input', placeholder: 'Ajukan penawaran' %>
                                    </div>
                                    <div class="uk-width-1-4@s">
                                        <%= submit_tag 'Ajukan', class: 'uk-button uk-button-primary' %>
                                    </div>
                                </div>
                            <% end %>
                        <% else %>
                            <p class="uk-margin-remove-bottom uk-margin-remove-top">Anda telah melakukan lelang pada produk ini.</p>
                        <% end %>
                    <% else %>
                        <h4 class="uk-text-meta">Ingin ikut lelang? silahkan <%= link_to 'Login', auth_new_path, class: 'uk-button uk-button-text' %></h4>
                    <% end %>

                    <table class="uk-table uk-table-small uk-table-divider uk-table-striped">
                        <caption></caption>
                        <thead>
                            <tr>
                                <th class="uk-table-shrink">No</th>
                                <th>Nama</th>
                                <th>Penawaran</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% penawaran = lelang.histories.order(penawaran_harga: :desc) %>
                            <% penawaran.each.with_index do |h, index| %>
                                <tr>
                                    <td><%= index+1 %></td>
                                    <td class="uk-text-capitalize"><%= h.masyarakat.nama_lengkap %></td>
                                    <td class="uk-text-danger">Rp. <%= number_with_delimiter(h.penawaran_harga) %></td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                <% end %>
            </div>
        </div>
    </div>
</div>

<div id="modal-penawaran" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Ajukan Penawaran</h2>
        </div>
        <%= form_tag controller: :lelangind, action: :penawaran do %>
            <% if penawaran.blank? %>
                <div class="uk-modal-body">
                    <p>Penawaran pertama harus lebih dari <span class="uk-text-primary">Rp. <%= number_with_delimiter(lelang.barang.harga_awal) %></span></p>
                    <div class="uk-margin">
                        <label>Penawaran</label>
                        <%= number_field_tag :penawaran_harga, '', class: 'uk-input' %>
                    </div>
                </div>
                <div class="uk-modal-footer uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                    <%= submit_tag 'Ajukan', class: 'uk-button uk-button-primary' %>
                </div>
            <% end %>
        <% end %>
    </div>
</div>