<% if notice %>
    <div class="uk-alert-success" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p><%= notice %></p>
    </div>
<% end %>
<% if alert %>
    <div class="uk-alert-danger" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p><%= alert %></p>
    </div>
<% end %>
<div class="uk-text-center">
    <br>
    <img src="/Asset/img/accs/take_lelang.svg" width="300" alt=""  uk-scrollspy="cls: uk-animation-slide-left; repeat: true; delay: 600">
    <div uk-scrollspy="cls: uk-animation-slide-right; repeat: true; delay: 1200">
        <h1 class="uk-text-bolder uk-text-uppercase uk-heading-medium" style="color: #3b3b3b;">Lelangind lelang online</h1>
        <h4 class="uk-text-light uk-margin-remove-top" style="color: #686c7b;">Cari dan temukan barang berkualitas untuk anda miliki! ayo ikut lelang sekarang!</h4>
    </div>
    <div uk-scrollspy="cls: uk-animation-slide-bottom; repeat: true; delay: 1800">
        <p uk-margin>
            <a class="uk-button uk-button-default" href="#kelebihan" uk-scroll>lebih lanjut</a>
            <%= link_to 'Lihat Lelang', lelangind_lelang_barang_path, class: 'uk-button uk-button-secondary', style: 'background-color: #3b3b3b;' %>
        </p>
    </div>
</div><br><br><br><br><br><hr><br><br>
<div class="uk-text-center" id="kelebihan" uk-scrollspy="cls: uk-animation-fade; target: #k; delay: 500; repeat: true">
    <h2 class="uk-text-normal" style="color: #3b3b3b;">Kenapa harus di <span class="uk-text-uppercase uk-text-bolder">Lelangind</span>?</h2>
    <h5 class="uk-text-light uk-margin-remove-top" style="color: #686c7b;">Kelebihan pada LELANGIND yang tidak ada pada aplikasi lain ada dibawah ini</h5>
    <br><br>
    <div class="uk-grid-column-small uk-grid-row-large uk-child-width-1-3@s uk-text-center" uk-grid>
        <div>
            <div id="k">
                <i class="fas fa-eye fa-5x"></i>
                <h2 class="uk-margin-medium-top uk-text-light">Pantau</h2>
                <p>Lelang barang selalu dipantau selama 24 jam, jangan khawatir lelang diabaikan.</p>
            </div>
        </div>
        <div>
            <div id="k">
                <i class="fas fa-phone-volume fa-5x"></i>
                <h2 class="uk-margin-medium-top uk-text-light">Dihubungi Langsung</h2>
                <p>Setelah lelang ditutup, pemenang akan dihubungi langsung oleh petugas.</p>
            </div>
        </div>
        <div>
            <div id="k">
                <i class="fas fa-shipping-fast fa-5x"></i>
                <h2 class="uk-margin-medium-top uk-text-light">Gratis Pengiriman</h2>
                <p>Pemanang lelang akan mendapat gratis biaya pengiriman barang.</p>
            </div>
        </div>
    </div>
</div>
<br><br>
<hr>
<br><br>
<div class="uk-text-center" uk-scrollspy="cls: uk-animation-fade; target: #l; delay: 500; repeat: true">
    <h2 id="l" class="uk-text-normal" style="color: #3b3b3b;">Tunggu apalagi <span class="uk-text-bolder uk-text-capitalize">daftarkan</span> dirimu sekarang juga!</h2>
    <h5 id="l" class="uk-text-light uk-margin-remove-top" style="color: #686c7b;">Gunakan kesempatan ini untuk menemukan barang barang menarik dengan harga yang menarik juga</h5>
    <p id="l" uk-margin>
        <% if current_user_m %>
            <%= link_to 'Lihat Lelang', lelangind_lelang_barang_path, class: 'uk-button uk-button-secondary', style: 'background-color: #3b3b3b;' %>
        <% else %>
            <%= link_to 'Daftar', auth_new_path, class: 'uk-button uk-button-secondary', style: 'background-color: #3b3b3b;' %>
        <% end %>
    </p>
</div>


