<!DOCTYPE html>
<html>
  <head>
    <title>Lelangind - Home</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body uk-height-viewport>
    <nav class="uk-background uk-box-shadow-small" uk-navbar>
      <div class="uk-navbar-left">
  
          <ul class="uk-navbar-nav">
              <li class="<%= current_class_f?(lelangind_index_path) %>"><%= link_to 'Lelangind', lelangind_index_path %></li>
              <li class="<%= current_class_f?(lelangind_lelang_barang_path) %>"><%= link_to 'lelang', lelangind_lelang_barang_path %></li>
          </ul>
  
      </div>
      <div class="uk-navbar-right">
  
          <ul class="uk-navbar-nav">
              <% if current_user_m %>
                <li><%= link_to current_user_m.nama_lengkap, lelangind_profile_path(current_user_m) %></li>
                <li class="<%= current_class_f?(lelangind_history_path) %>"><%= link_to 'History', lelangind_history_path %></li>
                <li><%= link_to 'Logout', destroy_s_m_path(current_user_m), method: :delete %></li>
              <% else %>
                <li><%= link_to 'Masuk / daftar', auth_new_path %></li>
              <% end %>
          </ul>
      </div>
    </nav>
    <div class="uk-container uk-padding">
        <%= yield %>
    </div>
  </body>
</html>
